# This workflow will generate a release container images and then generate a GitHub release
name: Create Release
on:
    push:
        tags:
            # Pattern: YYYY-MM-NUM 4 digits, hyphen, 2 digits, hyphen, 1 digit
            - "[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9]"
env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}
jobs:
    build-and-push-image:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Test image
              uses: docker/build-push-action@v3
              with:
                  context: .
                  push: false
                  target: test

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v3
              with:
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}

    create-release:
        runs-on: ubuntu-latest
        needs: build-and-push-image
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0 # Required: Fetch all history (not just the top commit)
                  fetch-tags: true # Required: Explicitly tell git to fetch tags

            - name: Get git info
              id: git_info
              run: |
                  echo "COMMIT_MSG=$(git log -1 --pretty=format:"%s")" >> $GITHUB_ENV
                  echo "PREVIOUS_TAG=$(git tag --sort=-v:refname | head -n 2 | tail -n 1)" >> $GITHUB_ENV

            - name: Get version info
              run: |
                  {
                    echo 'VERSION_CONTENT<<EOF'
                    cat versions.txt
                    echo EOF
                  } >> $GITHUB_ENV
            - name: Build Release Notes
              id: build_notes
              env:
                  # Map the variables that envsubst will look for
                  REPO: ${{ github.repository }}
                  CURRENT_TAG: ${{ github.ref_name }}
                  CUSTOM_INTRO_VAR: ${{ vars.RELEASE_INTRO }}
                  BUILD_SIGNATURE: ${{ vars.SIGNATURE }}
              run: |
                  envsubst '$REPO $COMMIT_MSG $PREVIOUS_TAG $CURRENT_TAG $DIFF_URL $CUSTOM_INTRO_VAR $VERSION_CONTENT $BUILD_SIGNATURE' < .github/release_template.md > release_notes.md

            - name: Release
              uses: softprops/action-gh-release@v2
              if: github.ref_type == 'tag'
              with:
                  body_path: release_notes.md
                  make_latest: true
